*{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(129, 125, 125);
    background-size: 100%;
    width: auto;
}
.header{
    background-image: url(/background.jpg);
    background-size: 100%;
    position: centre;
    grid-column-start: 1;
    grid-column-end: -1;
    height: 100vh;
}
ul {
   list-style-type:none;
    margin: 0;
    padding: 1em 2em 1em 0;
    overflow: hidden;
    background-color: #111111ab;
   
}
  li {
    float: right;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px 10px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(68, 110, 71);
  }
.header h1{ 
    width: fit-content;
    border: 2px  rgba(156, 156, 100, 0.363);
    border-radius: 10px;
    background-color: rgba(105, 114, 248, 0.767);
    margin:1em 0 0 2em;
    color: rgb(247, 247, 247);
    font-size:10vw;
    font-family: Helvetica, sans-serif;
    text-align: center;
   
}
p{ 
    width: fit-content;
    border: 2px  rgba(156, 156, 100, 0.363);
    border-radius: 10px;
    background-color: rgba(82, 218, 195, 0.767);
    margin:1em 0 0 6em;
    color: rgb(247, 247, 247);
    font-size:4vw;
    font-family: Helvetica, sans-serif;
    text-align: center;
   
}
.main-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
 .li-1{
    color: rgba(238, 238, 238, 0.767);
  
  }
  .li-1 h2{
    color: rgba(238, 238, 238, 0.767);
    text-align: left;
  }