*{
    margin: 0;
    padding:0;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1.5fr 1fr 1fr 1fr 1fr;
    gap: 0.5em;
    }

header img{
    height: 60px;
    width: auto;
    margin-top: 10px;
    padding: 15px 0 0 20px;
    float: left;
    
}
header{
    background-image: url(/bg1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #f7f7f7bb;
    
}

ul {
    list-style-type: none;
    margin-right: 40px;
    padding: 20px;
    overflow: hidden;
  }
  
  li {
    float:right;
  }
  
  li a {
    display: block;
    text-align:center;
    padding: 15px 25px;
  }

  li a:hover:not(.active) {
    background-color:#ff7d00;
  }
  h1{
    color: #ff7d00;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10vw;
    padding-top: 0.5em;
    
  }
  
  h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  color: #0077b6;
  margin: 20px 20px 0 40px;
  text-align: center;
  }
h3{
  text-align: center;
  padding: 1em;

}

  main p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: rgb(50, 50, 54);
    padding: 1em 2em 2em 2em;
    text-align: left;
  }

  footer{
  
    background-color: #f7f7f7;
}
about{
  
  background-color: #f7f7f79f;
}
.about h3, p{
  align-items: center;
  margin-left: 15vw;
  margin-top: 30px;
  margin-right: 15vw;
  padding: 2em;
  color: rgb(56, 56, 56);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
learn h3{
  display: inline-block;
  align-items: center;
  margin-left: 14vw;
  margin-top: 30px;
  
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

li a, .dropbtn {
  display: inline-block;
  color: rgb(14, 17, 224);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
  
}
.social-media{
  width: 40%;
  height: auto;
  float: left;
  background-color: #f7f7f7;
  align-items: center;
  padding: 2em;
  text-align: center;
}
.form-container{
  width: 40%;
  height: auto;
  float: right;
  background-color: #fae8e8;
  align-items: center;
  padding: 2em;
  text-align: center;
}
/*--social media icons-- */
.fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #1fbbd6;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #34a9df;
  color: white;
}

.fa-instagram {
  background: #ec0da9;
  color: rgb(255, 255, 255);
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

@media screen and (max-width:900px){
    .container{
        background: none;
        
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "nav"
    "aside"
    "footer";
    }  
  header{
      background-color:#0077b6;
      height: 75px;
  }
  header img{
    height: 30px;
    width: auto;
    padding: 10px 0 0 20px;
    float: left;
   
}
h1 {
  font-size: 14vw;
}
li a {
    display: block;
    color: rgb(252, 249, 249);
    text-align:center;
    padding: 10px 10px;
    font-size: 14px;
  }
}